---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    k8s-app: domain-name-operator
  name: cloudflarednsrecords.domain-name-operator.tamx.org
spec:
  group: domain-name-operator.tamx.org
  names:
    kind: CloudflareDnsRecord
    plural: cloudflarednsrecords
    singular: cloudflarednsrecord
    shortNames:
      - dns
      - cfdns
  #scope: Cluster
  scope: Namespaced
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                namespace:
                  type: string
                serviceName:
                  type: string
                hostName:
                  type: string
                domain:
                  type: string
                zoneId:
                  type: string
                proxied:
                  type: boolean
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
      subresources:
        status: {}
      additionalPrinterColumns: []

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
#kind: Role
metadata:
  labels:
    k8s-app: domain-name-operator
  name: domain-name-operator
  #namespace: domain-name-operator
rules:
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - '*'
  - apiGroups:
      - domain-name-operator.tamx.org
    resources:
      - cloudflarednsrecords
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - '*'

---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    k8s-app: domain-name-operator
  name: domain-name-operator
  namespace: domain-name-operator

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
#kind: RoleBinding
metadata:
  labels:
    k8s-app: domain-name-operator
  name: domain-name-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  #kind: Role
  name: domain-name-operator
subjects:
  - kind: ServiceAccount
    name: domain-name-operator
    namespace: domain-name-operator
