name: Build -> Test -> Deploy
on:
  push:
    branches:
      - main
    tags:
      - 'prod-*'

env:
  RELEASE_VERSION: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Image
        run: ./scripts/build-release.sh

      - name: Authenticate to DO Container Registry
        env:
          DOCKER_CONFIG: ${{ secrets.DOCKER_CONFIG }}
        run: |
          mkdir -p $HOME/.docker
          echo "${DOCKER_CONFIG}" > $HOME/.docker/config.json

      - name: Push Image
        run: ./scripts/push-release.sh

  test:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to DO Container Registry
        env:
          DOCKER_CONFIG: ${{ secrets.DOCKER_CONFIG }}
        run: |
          mkdir -p $HOME/.docker
          echo "${DOCKER_CONFIG}" > $HOME/.docker/config.json

      - name: Test
        run: ./scripts/run-ci.sh

